@import url('https://fonts.googleapis.com/css2?family=Inter&family=Kanit:wght@500&family=Sometype+Mono&display=swap');
/*
:root {
    --navbar-color: #3E0E1F;
    --background-color: #F6E1E1;
    --first-color: #F88020;
    --second-color: #D1284C;
    --third-color: #9be769;
    --first-color-darker: #ba5f14;
    --second-color-darker: #ac1133;
}
*/
:root {
    --navbar-color: #050505;
    --background-color: #eee;
    --first-color: #050505;
    --second-color: #fff;
    --third-color: #050505;
    --first-color-darker: #202020;
    --second-color-darker: #999;
}


html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--background-color);
}

/* -- Header -- */

header {
    background: var(--navbar-color);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    height: 90px;
}

header > div > img {
    margin-left: 20px;
    width: 50%;
}header > div > img:hover {
    cursor: pointer;
}

header a {
    font-family: 'Sometype Mono', monospace;
    color: #fff;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}

header > div {
    width: 33%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header > .header-buttons {
    justify-content: right;
}
header > .header-image {
    justify-content: left;
}
.header-buttons > button:hover {
    border-color: var(--second-color-darker)
}
.header-buttons > button {
    margin-left: 20px;
    width: 150px;
    text-align: center;
    border: none;
    outline: none;
    transition: all 150ms ease;
    height: 50px;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    border: 2px solid #fff;
    box-shadow: 5px 5px 10px rgba(29, 29, 29, 0.5);
}
.header-buttons > button > p {
    margin: 0;
    font-size: 20px;
}
.header-button-streamer {
    background: var(--second-color);
    & p {
        color: #050505;
    }
}
.header-button-viewer {
    background: var(--first-color);
    margin-right: 20px;
}
.header-button-streamer:hover {
    background: var(--second-color-darker);
    cursor: pointer;
}
.header-button-viewer:hover {
    cursor: pointer;
}
header > .header-mobile-burger {
    display: none;
}

.mobile-navmenu {
    background: var(--background-color);
    transition: visibility 150ms, opacity 150ms linear;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
.mobile-navmenu > a {
    text-decoration: none;
    display: block;
    margin: 20px;
    font-size: 30px;
    color: #000;
    text-align: left;
    font-family: 'Sometype Mono', monospace;
}
.mobile-navmenu > .header-buttons {
    position: absolute;
    width: 100%;
    bottom: 5%;
    display: flex;
    justify-content: space-evenly;
}

/* -- Cookie Notifier -- */

.cookie-notifier {
    position: fixed;
    width: 30%;
    min-width: 600px;
    left: 2%;
    bottom: 2%;
    z-index: 2;
    background: var(--navbar-color);
    color: #fff;
    border-radius: 10px;
    padding: 10px 40px;
}
.cookie-notifier__content {
    font-family: 'Kani', sans-serif;
}
.cookie-notifier__content a {
    color: #fff;
    text-decoration: underline;
}
.cookie-notifier__content h1 {
    margin: 0;
}
.cookie-buttons {
    display: flex;
    margin-top: 10px;
    width: 60%;
}
.cookie-notifier__button {
    margin-right: 20px;
    cursor: pointer;
    background: var(--navbar-color);
    border: 3px solid #fff;
    border-radius: 5px;
    transition: all 150ms ease;
    height: 40px;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    width: 150px;
    text-align: center;

}

main {
    min-height: 70vh;
}

/* -- Footer -- */

footer {
    background: var(--navbar-color);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 10px 0;
    padding-top: 20px;
    min-height: 150px;
    flex-wrap: wrap;
}
footer > .info > a{
    color: #eee;
    font-family: 'Kanit', sans-serif;
}
footer > .info > h3 {
    margin: 0;
    font-family: 'Kanit', sans-serif;
    color: #eee;
    font-size: 30px;
    margin-bottom: 5px;

}
footer > .socials {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}
footer > .socials > a {
    padding-right: 20px;
}
footer > .socials > a > i {
    color: #eee;
    font-size: 30px;
}
footer > .socials > h3 {
    width: 100%;
    margin: 0;
    font-family: 'Kanit', sans-serif;
    color: #eee;
    font-size: 30px;
    border-bottom: 2px solid #eee;
    margin-bottom: 5px;
}
footer > div {
    width: 20%;
    text-align: center;
}
footer > .cr {
    width: 100%;
    text-align: center;
}
footer > .cr > p {
    color: #eee;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
}
footer > div > img {
    width: 70px;
}

@media only screen and (max-width: 768px) {
    .mobile-hide {
        display: none;
    }
    header > .header-image {
        justify-content: left;
    }
    header > div{
        width: 20%;
    }
    header > .header-image {
        width: 80%;
    }
    header > .header-mobile-burger {
        display: flex;
    }
    header > .header-mobile-burger > span {
        font-size: 50px;
        color: #eee;
        cursor: pointer;
    }
    header > div > img {
        width: 70%;
    }
    .cookie-notifier {
        width: 80%;
        min-width: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
    .cookie-buttons {
        width: 100%;
        justify-content: space-evenly;
    }
    .cookie-notifier__button {
        margin-right: 0px;
    }
    .mobile-navmenu button {
        background: #fff;
        color: #050505;
    }

    /* -- Footer -- */

    footer > div {
        width: 70%;
        text-align: center;
    }
    footer > .socials {
        justify-content: center;
        margin-bottom: 20px;
    }
    .info {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .info > h3 {
        width: 100%;
    }

}