main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.streamer_points {
    background: var(--first-color);
    width: 300px;
    color: #eee;
    font-family: 'Kanit', sans-serif;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    & h2 {
        margin: 0;
    }
}