main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.streamer_points {
    background: #fff;
    width: 300px;
    height: 150px;
    color: #050505;
    font-family: 'Inter';
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;

    & h2 {
        margin: 0;
    }
}