.banner {
    height: calc(100dvh - 110px);
    position: relative;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: all 1s ease;
    background: #000;
    cursor: default;
}

.banner>h1 {
    position: absolute;
    top: 5%;
    left: 4%;
    font-family: 'Inter';
    font-size: 60px;
}

.coolcolor,
.coolcolor {
    color: #236d82;
    transition: all 250ms ease;
}

.coolcolor:hover,
.coolcolor:hover {
    color: #194a58;
}

.banner>h3 {
    font-family: 'Inter';
    position: absolute;
    top: calc(5% + 140px);
    font-size: 30px;
    left: 4%;
    width: 50%;
}

.banner>.feature-scrolldown {
    color: inherit;
    text-decoration: none;
    position: absolute;
    bottom: 10%;
    right: 5%;
    display: flex;
    height: fit-content;
    align-items: center;
    font-size: 20px;
}

.banner>.feature-scrolldown>h1 {
    margin: 0;
    font-family: 'Inter';
}

.banner>.feature-scrolldown>span {
    font-size: 50px;
}

.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.feature {
    overflow: hidden;
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    height: 350px;
    justify-content: space-between;
}

.feature>img {
    height: 300px;
    width: 40vw;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.feature>div {
    height: 300px;
    width: 30vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.features h1 {
    font-family: 'Inter';
    width: 100%;
    margin: 0;
}

.features>h1 {
    text-align: center;
    font-size: 50px;
    width: 100%;
    margin: 33.5px 0px;
}

.features p {
    font-family: 'Inter';
    width: 100%;
}

.featured-streamers {
    font-family: 'Kanit', 'sans-serif';
    text-align: center;
    margin: 10vh 0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.featured-streamers>h1 {
    font-size: 50px;
}

.vp {
    overflow-x: hidden;
    width: 100vw;
}

.streamer-list {
    width: fit-content;
    display: flex;
    flex-direction: row;
}

.streamer-list>.streamer-container>.streamer {
    background-color: var(--first-color);
    font-family: 'Kanit', 'sans-serif';
    margin-bottom: 1vw;
    color: #fff;
    width: 4vw;
    height: 4vw;
    margin-right: 1vw;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.streamer-list>.streamer>img {
    width: 7vw;
    border-radius: 2px;
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.feature-left {
    transform: translateX(-50%);
    margin-left: 7.5%;
}

.feature-right {
    transform: translateX(50%);
    margin-right: 7.5%;
}

.feature-left,
.feature-right {
    transition: transform 400ms ease;
}

.feature-left.appear,
.feature-right.appear {
    transform: translateX(0);
}

.feature>img.no-shadow {
    box-shadow: none;
}

.supported-games {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px 0;
}

.supported-games>h1 {
    font-family: 'Inter';
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.supported-games>.game {
    width: 60vw;
    height: 20vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    margin-bottom: 100px;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 250ms ease;
    color: #fff;
    min-width: 400px;
    min-height: 300px;
}

.supported-games>.game>h1 {
    font-family: 'Inter';
    font-size: 50px;
    width: 100%;
    text-align: center;
}

.supported-games>.game>a {
    min-width: 200px;
    width: 20%;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    transition: all 250ms ease;
}

.supported-games>.game>a:hover {
    transform: scale(1.1);
}

.supported-games>.game>a>p {
    font-family: 'Inter';
    width: 100%;
    text-align: left;
    font-weight: 800;
}

.supported-games>.game>a>p>span {
    font-size: inherit;
    float: right;
}

.feature-buttons {
    display: flex;
    justify-content: center;
    margin: 100px 0;
    gap: 50px;
    flex-wrap: wrap;
}

.feature-buttons>.button {
    font-family: 'Inter';
    border-radius: 12px;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    width: 350px;
    text-align: center;
    position: relative;
    transition: all 250ms ease;
    text-decoration: none;
}

.feature-buttons>.button:hover {
    transform: translateY(-5px);
}

.feature-buttons>.button>h1 {
    font-weight: 200;
}

.feature-buttons>.button>h1>span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
}

@media only screen and (max-width: 768px) {
    .banner {
        height: 500px;
        margin: 0;
        border-radius: 0;
    }

    .banner>h1 {
        left: 0;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .banner>h3 {
        text-align: center;
        font-size: 20px;
        top: calc(15% + 160px);
    }

    .banner>.feature-scrolldown {
        right: 50%;
        transform: translateX(50%)
    }

    .banner>.feature-scrolldown>h1 {
        font-size: 40px;
    }

    .banner>.feature-scrolldown>span {
        font-size: 30px;
    }

    .featured-streamers {
        margin-top: 10px;
        margin-bottom: 0;
    }

    .featured-streamers>h1 {
        font-size: 30px;
    }

    .streamer-list>.streamer-container>.streamer {
        width: 20vw;
        height: 20vw;
        margin-right: 5vw;
        margin-bottom: 5vw;
    }

    .features>h1 {
        font-size: 30px;
    }

    .features img {
        display: none;
    }

    .features {
        overflow: hidden;
    }

    .feature {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        height: fit-content;
    }

    .feature>div {
        width: 80%;
        margin: auto;
        height: auto;
    }

    .feature-left {
        transform: translateX(50%);
    }

    .feature-right {
        transform: translateX(50%);
    }

    .banner>h3 {
        text-align: center;
        width: 100%;
        left: 0;
    }

    .supported-games>.game {
        width: 90dvw;
        height: 50dvw;
    }

    .supported-games {
        margin: 0;
    }
}