main {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

main>.streamerlist {
    display: flex;
    flex-wrap: wrap;
}

main>.streamerlist>.streamer {
    font-family: 'Inter';
    min-width: 300px;
    min-height: 100px;
    height: 10vw;
    width: 20%;
    margin: 10px 2.5%;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    word-break: break-all;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-y: hidden;
}

main>.streamerlist>.streamer>.streamer__name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000;
}

main>.streamerlist>.streamer>.streamer__image {
    width: calc(40% - 10px);
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* Add this line */
}

main>.streamerlist>.streamer>.streamer__image>img {
    width: 100%;
    border-radius: 2px;
}

main>.streamerlist>.streamer>.streamer__info {
    width: calc(70% - 10px);
}

@media screen and (max-width: 768px) {
    main>.streamerlist>.streamer {
        width: 90%;
    }

    main>.streamerlist {
        display: block;
    }

    main>.streamerlist>.streamer>.streamer__image {
        width: calc(30% - 10px);
    }

}