.module-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 80px;
}

h1 {
    color: #050505;
}

.module {
    background: rgba(153, 153, 153, 0.5);
    width: 30%;
    height: 200px;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px;
    position: relative;
    transition: all 150ms ease;
    color: #050505;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Kanit', sans-serif;
}

.description {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: 'Sometime Mono', monospace;
}

.price {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Kanit', sans-serif;
}

.price input {
    width: 70px;
}

.toggle-button {
    font-size: 16px;
    padding: 5px 10px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.toggle-slider {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-slider-checkbox {
    display: none;
}

.toggle-slider-label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.4s;
}

.toggle-slider-label:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.4s;
}

.toggle-slider-checkbox:checked + .toggle-slider-label {
    background-color: #2196F3;
}

.toggle-slider-checkbox:checked + .toggle-slider-label:after {
    transform: translateX(26px);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

main > h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    background: #fff;
    width: calc(90% + 40px);
    margin: 30px auto;
    border-radius: 5px;
}

main > .top {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}

main > div > .info {
    background: #fff;
    padding: 20px;
    width: 40%;
    height: auto;
    color: #050505;
    text-align: left;
    font-family: 'Sometype Mono', monospace;
    border-radius: 5px;
}

main > div > .setup {
    background: #fff;
    padding: 20px;
    width: 40%;
    height: auto;
    color: #050505;
    text-align: left;
    font-family: 'Sometype Mono', monospace;
    border-radius: 5px;
}

.info > input:disabled {
    color: #050505;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    text-align: left;
}

form {
    width: 100%;
    height: 100%;
}

.setup form textarea, input {
    width: 90%;
    margin: 20px;
    margin-top: 0;
    margin-left: 0;
    background-color: #ddd;
    color: #050505;
}

textarea, input {
    resize: none;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 2px;
}

.button, .info > button {
    background: var(--first-color);
    outline: none;
    border: none;
    width: 50%;
    color: #fff;
    border-radius: 2px;
    min-height: 40px;
}
.button:hover, .info > button:hover {
    background: var(--first-color-darker);
    cursor: pointer;
}
.button:hover:disabled {
    cursor: not-allowed;
}

.module input {
    padding: 5px;
    margin: 0;
}

.save-button {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 100px;
    height: 30px;
    margin: 0;
}

main > h1 {
    transform: translateY(60px);
    z-index: 1;
}

/* Overrides */

.module-active {
    background: #fff;
}

.module-container.minecraft {
    background-image: url('../../i/banner0.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
    .module {
        width: 90%;
    }
    main > h1 {
        width: 100%;
        border-radius: 0;
    }
    main > div > .setup, main > div > .info {
        width: 90%;
        border-radius: 0;
        margin-top: 20px;
    }
    .top {
        flex-wrap: wrap;
    }
}