main {
    display: flex;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Sometype Mono', monospace;
}

.save-button {
    width: 100%;
    height: 50px;
    background: #fff;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #050505;
}

form > input,
form > select {
    background-color: #ddd;
}

.viewer-info {
    width: 94%;
    background: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(29, 29, 29, 0.5);
}

.streamer-info {
    background: #fff;
    border-radius: 5px;
    max-height: 80vh;
    padding: 10px;
    width: 30vw;
    color: #050505;
    box-shadow: 5px 5px 10px rgba(29, 29, 29, 0.5);
}

.profile {
    display: flex;
    flex-wrap: wrap;
}


.heading {
    align-self: center;
    width: 70%;
    height: fit-content;
    & h1 {
        margin: 0;
        margin-left: 10px;
        word-wrap: break-word;
    }
    & h4 {
        margin: 0;
        margin-left: 10px;
        word-wrap: break-word;
    }
}

.streamer-info > .description > p {
    word-wrap: break-word;
}

.profile > .image {
    width: 30%;
    height: fit-content;
}

.image > img {
    border-radius: 10px;
    width: 100%;
}

.redeemables {
    min-width: 450px;
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #050505;
    align-content: flex-start;
}
.redeemable {
    margin: 1%;
    margin-top: 0;
    width: 45%;
    text-align: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(29, 29, 29, 0.5);
    transition: all 250ms ease;
}

.redeemable:hover {
    box-shadow: 10px 10px 15px rgba(29, 29, 29, 0.5);
    transition: all 250ms ease;
}

.redeemable-description > p {
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}
.redeemable-image, .redeemable-image > img{
    max-height: 20vh;
}

h1 {
    font-family: 'Kanit', sans-serif;
}

.not-enough:hover {
    cursor: not-allowed;
}

.disabled {
    background: #ddd;
    cursor: not-allowed;
}

input[type="text"], select {
    width: 80%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 2px;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    margin-top: 10px;
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
    main {
        justify-content: center;
        padding: 30px 0;
    }
    .streamer-info {
        width: 90vw;
    }
    .redeemables {
        width: 100%;
        min-width: 0;
    }
    .redeemable {
        width: 95vw;
    }
    .viewer-info {
        margin: 20px;
    }
}